html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    background-color: #CAEBF2;/*#99bfdd;*/
    color: white;
    /*font-family: "Courier New", Courier, monospace;*/
    font-family: 'Roboto', sans-serif;
    /*font-family: Chalkduster, fantasy;*/
    /*font-family: Arial, Helvetica, sans-serif*/
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.wrapper{
	display: flex;
    flex-direction: column;
    
    min-height: 100vh;
    overflow: auto;
}

.banner {
    display: flex;
    font-size: 3em;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #CAEBF2;
    color: #A9A9A9;
    flex:20vh;
}

.pic{
    margin-left:3vw;
    margin-right: 3vw;
}

.content {
    /*background-color: blue;*/
    flex:80vh;
    display: flex;
    flex-direction:row;
    overflow: auto;
}

.main{

    display: flex;
    background: #EFEFEF;
    flex: 66vw;
    border: 5px solid #A9A9A9;
    border-radius: 15px;
    flex-direction: column;
    overflow: auto;
    /*margin: 1vh 1vw;*/
}

.side-bar {
    /*background-color: #A9A9A9;*/
    flex:17vw;
    
}

img.pic {
  width:25vh;
  height:25vh;
}

.page-title{
    color: #A9A9A9;
    text-align: center;
    font-size: 1.5em;
    margin: 7vh 2vw;
}

.page-content{
    color: #A9A9A9;
    text-align: center;
    margin: 2vh 2vw;
}

.page-continue{
    color: #A9A9A9;
    text-align: center;
    margin: 7vh 2vw;
}

table{
    margin-left:auto; 
    margin-right:auto;
    width: 100%;
    border-collapse: separate;
    border: 1px solid black;
   
}

/*th,td{
     white-space: nowrap;
}*/
/*
th{
    border: 1px solid black;
    margin-left:auto; 
    margin-right:auto;
    width: 100%;
    height: 100%;
    border-collapse: separate;
    border-spacing: 3vw;
}*/

/*td{
    border: 1px solid black;
    margin-left:auto; 
    margin-right:auto;
    width: 100%;
    border-collapse: separate;
    border-spacing: 3vw;
}
*/


